<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PerformanceAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <PerformanceAlert.Properties.Settings>
            <setting name="PushbulletApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteLogToDisk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedDevices" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AlertMeasurementTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlertAvergareCPU" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnSystemStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertAvergareRAM" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MonitorProcesses" serializeAs="String">
                <value>True</value>
            </setting>
        </PerformanceAlert.Properties.Settings>
    </userSettings>
</configuration>
